/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* importando a fonte */
@font-face {
  font-family: 'Cactus';
  src: url(../assets/fonts/Cactus\ Regular.otf);
}

/* configurações iniciais do materialize */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* barra superior */
#barraSuperior{
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
#barraSuperior button{
  height: 30px;
  border-radius: 20%;
  border-style: solid;
  border-color: #f9f4eb;
  margin: 0px 5px;
  background-color: #5d7014;
  color: white;
}
#barraSuperior h1{
  margin: 0px 20px;
  font-family: 'Cactus';
}

/* fundo bege e centralizar o conteudo */
body{
  background-image: url('../assets/images/cordel_web.png');
  background-size: 100%;
  background-attachment: scroll;
}
.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vh;
}
#content{
  background-color: #b6a9916b;
  width: 100%;
  height: 100%;
}

/* teclado */
#teclado{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#teclado div{
  display: flex;
}
.segundaFileira{
  margin: 0.5rem 0;
}
.btnTeclado{
  font-size: 30px;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 15%;
  background-color: #5d7014;
  font-family: 'Cactus';
  color: white;
}
.md-12{
  font-size: 1rem;
}

/* Tela do jogo */

#telaJogo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  ;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
  justify-content: center;
}